{% extends 'base.html' %}

{% load static %} 

{% block title %}Voe{% endblock %}

{% block content %}
<nav id="main-menu">
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'comissario_create' %}">Cadastrar Comissário</a></li>
        <li><a href="{% url 'voo_create' %}">Cadastrar Voo</a></li>
        <li><a href="{% url 'aeronave_create' %}">Cadastrar Aeronave</a></li>
        <li><a href="{% url 'companhia_aerea_create' %}">Cadastrar Companhia Aérea</a></li>
    </ul>
</nav>

<header></header>

<section id="search-section">
    <h2>Buscar Passagens</h2>
    <form method="GET" action="{% url 'home' %}">
        <label for="origem">Origem:</label>
        <input type="text" name="origem">

        <label for="destino">Destino:</label>
        <input type="text" name="destino">

        <input type="submit"  class="btn btn-primary" value="Buscar">
    </form>
</section>

<section id="flight-list">
    <h2>Passagens Disponíveis</h2>
    <div class="flight-cards">
        {% for voo in voos %}
            <div class="flight-card">
                <img src="{{ voo.url_imagem }}" alt="Imagem do voo">
                <h3>{{ voo.origem }} para {{ voo.destino }}</h3>
                <p>Data: {{ voo.data }} às {{ voo.horario }}</p>
                <p>Valor: R$ {{ voo.valor }}</p>
                <a href="{% url 'passagem_create' voo_id=voo.id %}">
                    <button class="btn btn-primary">Comprar Passagem</button>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
<style>
    header {
        background-image: url('{% static "/Explore_page-0001.jpg" %}');
        background-size: cover;
        background-position: center;
        height: 90vh;  /* 100% da altura da tela */
    }
</style>
{% endblock %}